body{
	background-color:#110824 ;
}
.nav-box{
	height: 120vh;
	background-color: #1d1138;
	display: inline-block;

}

.content-box{
	height: 100vh;
	
	background-color:#110824 ;
	display: inline-block;
}
.user-name{
	padding-left: 25px;
	padding-top: 25px;
	color: white;
	font-size: 22px;
}
.ds{
	color: white;
	margin-top: 50px;
	margin-left: 40px;
}
.options{
	margin-top: 44px;
	height: 250px;
	margin-left: 25px;

}

.nav-box ul,li{
	list-style: none;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 2px;
	padding-left: 8px;
	margin-left: 4px;
	height:30px;
	width:100%;
	border-radius: 4px;
}
.nav-box a{
	text-decoration: none;
	color:white;
}

.btn-man{
	margin-top: 80px;
	margin-bottom: 0px;
	margin-left: 40px;
	border-radius: 15px;
	width:120px;
	background-color: #7114e3;
	color:white;
}

.image-container{
	margin-right: 20px;
	margin-left: 20px;
	height: 250px;
	border: 2px solid white;
	border-radius: 3px;
}

tr, td{
	margin: 5px;
	height:80px;
}

.select-item{
	width:180px;
	background-color: #110824;
	border:none;
}

.outer-box{
	padding: 8px;
	margin-top: 25px;

}

.div-box{
	height:120px;
}
.inner-box{
	border: 2px solid white;
	border-radius: 3px;
	height: 102px;

}

.img-frame{
	margin-top:10px;
	margin-left: 10px;
	height:50px;
	width:50px;
	border-radius:50%;
	float: left;
}

h5{
	color: white;
}

.person-name{
	color: white;
	margin-top: 15px;
	margin-left: 80px;
}

.progress-bar-container{
	margin-top: 45px;
	height:10px;
	width: 70%;
	background-color: black;
}

.form-class{
	border-radius:5px;
	background-color: #110824;
	border:none;
	color: white;
}
.progress{
	height:9.5px;
	background-color:yellow;
	width:50%;
	float: left;
}
.percentage{
	float: right;
	color: white;
	font-size:12px;
	margin-right: 15px;
	margin-top: -15px;
}
.nav-box li:hover{
	background-color: #331e5e;
}
@media screen and (max-width: 768px){
	.nav-box{
		display: none;
	}
}
